<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<h2 class="logo-large-text">{{ 'WELCOME' | translate }}</h2>
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">{{ 'WELCOME_TEXT' | translate }}</p>
		</div>
		<div class="row">
			<p>
				<a type="button" class="btn btn-lg btn-primary" href="signup">{{ 'SIGN_UP' | translate }}</a>
				or
				<a type="button" class="btn btn-lg btn-default" href="signin">{{ 'SIGN_IN' | translate }}</a>
			</p>
		</div>
	</div>
	<div class="text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="logo" class="img-responsive text-center logo-large" src="modules/core/img/brand/logo.svg" height="350px" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">{{ 'TITLE' | translate }} {{ 'ABSTRACT' | translate }}</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="https://github.com/mikevo/TEERS" target="_blank">{{ 'LEARN_MORE' | translate }}</a>
			</p>
		</div>
	</div>
</section>
