<section class="row" data-ng-controller="SettingsController">
	<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
		<h3 class="col-xs-12 col-md-12 text-center">{{ 'EDIT_YOUR_PROFILE' | translate }}</h3>
		<div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
			<fieldset>
				<div class="form-group">
					<label for="firstName">{{ 'FIRST_NAME' | translate }}</label>
					<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="{{ 'FIRST_NAME' | translate }}">
				</div>
				<div class="form-group">
					<label for="lastName">{{ 'LAST_NAME' | translate }}</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="{{ 'LAST_NAME' | translate }}">
				</div>
				<div class="form-group">
					<label for="email">{{ 'EMAIL' | translate }}</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="{{ 'EMAIL' | translate }}">
				</div>
			</fieldset>
		</div>
		<h3 class="col-xs-12 col-md-12 text-center">{{ 'ADDITIONAL_INFOS' | translate }} ({{ 'OPTIONAL' | translate }})</h3>
		<div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
			<div optional-questionnaire data="user.questionnaire"></div>
			<div class="text-center form-group">
				<button type="submit" class="btn btn-large btn-primary">{{ 'SAVE_PROFILE' | translate }}</button>
			</div>
		</div>
	</form>
	<h3 class="col-xs-12 col-md-12 text-center">{{ 'EDIT_YOUR_TRACK_PROFILE' | translate }}</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<div class="text-center form-group">
			<button data-ng-click="deleteTrackProfile()" class="btn btn-large btn-danger">{{ 'DELETE_TRACK_PROFILE' | translate }}</button>
		</div>
		<div data-ng-show="success" class="text-center text-success">
			<strong>{{ 'PROFILE_SAVE_SUCCESS'| translate }}</strong>
		</div>
		<div data-ng-show="error" class="text-center text-danger">
			<strong data-ng-bind="error"></strong>
		</div>
	</div>
</section>
